<mat-card>
  <mat-card-title class="card-title">Ingredients</mat-card-title>

  <ul class="list">
    <li *ngFor="let ingredient of ingredients">
      <mat-checkbox
        [(ngModel)]="ingredient.isChecked"
        (ngModelChange)="check(ingredient.ingredientName, ingredient.isChecked)"
        >{{ ingredient.ingredientName }}</mat-checkbox
      >
    </li>
  </ul>

  <mat-card-actions align="end">
    <button (click)="addIngredients()" mat-button>Add ingredients</button>
  </mat-card-actions>
</mat-card>
