version: '3.7'

services:
  postgres:
    image: postgres:latest
    restart: always
    env_file:
      - ./.env
    ports:
      - '5438:5432'
    volumes: 
      - ./data:/var/lib/postgresql/data
    
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
