.menu {
  //max-height: 40em;
  display: flex;
  overflow: auto;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-card {
  display: inline-block;
  text-align: center;
  background: white;
  padding: 15px;
  margin-left: .5em;
  margin-right: .5em;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-width: fit-content;
}
label{
  width: 100%;
  height: 10vh;
}
.label-404 {
  padding: .5em;

  font-size: clamp(16px, 10vw, 100px);
}

img {
  max-width: 500px;
}
h2 {
  padding-top: 0.5em;
}
