// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Roboto&display=swap');

$green-accent: #788D17;
$green-accent-hover: #4a5710;

.mat-card{
  display: inline-block;
  text-align: center;
  background: white;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-width: fit-content;
}

.recipe-card-title{
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: medium;
  padding: 5px;
}

.recipe-card-img{
  object-fit: cover;
  width:160px;
  height:160px;
  border-radius: 3000px;
}

.mat-button {
  padding: 0 15px 0 15px;
  border-radius: 30px;
  margin: 10px;
}
