.mat-card{
  display: inline-block;
  text-align: left;
  background: white;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  min-width: 300px;
  //width: 50%;
}

.card-title{
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
}
