<div class="about">
  <mat-card class="mat-card">
    <h1 class="title"> About Tasty</h1>
    <p>Tasty is a collective project where the knowledge acquired in the
      subject will be put into practice, taking as an example Tasty API
      to query data about recipe, plan, ingredients, etc. This project has
      been carried out by the following collaborators:
    </p>

    <div class="container">
      <div class="header">
        <table>
          <thead>
            <tr>
              <th>Collaborator name</th>
              <th>Github link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aleksandra Generowicz</td>
              <td><a href="https://github.com/ale-gen">https://github.com/ale-gen</a></td>
            </tr>
            <tr>
              <td>Ángel Gomez Espinosa</td>
              <td><a href="https://github.com/age296">https://github.com/age296</a></td>
            </tr>
            <tr>
              <td>Bartlomiej Nowak</td>
              <td><a href="https://github.com/barte525">https://github.com/barte525</a></td>
            </tr>
            <tr>
              <td>Cristian David Casado</td>
              <td><a href="https://github.com/CristianDC27">https://github.com/CristianDC27</a></td>
            </tr>
            <tr>
              <td>Deyan Rosenov Stanchev</td>
              <td><a href="https://github.com/deyan18">https://github.com/deyan18</a></td>
            </tr>
            <tr>
              <td>Francisco José García García</td>
              <td><a href="https://github.com/frangarcj">https://github.com/frangarcj</a></td>
            </tr>
            <tr>
              <td>Francisco José López Carrillo</td>
              <td><a href="https://github.com/pcoloc">https://github.com/pcoloc</a></td>
            </tr>
            <tr>
              <td>Jesús Ramos Invernón</td>
              <td><a href="https://github.com/jri838">https://github.com/jri838</a></td>
            </tr>
            <tr>
              <td>María Gálvez González</td>
              <td><a href="https://github.com/MariaGalGon">https://github.com/MariaGalGon</a></td>
            </tr>
            <tr>
              <td>Martyna Grzegorczyk</td>
              <td><a href="https://github.com/gtyska">https://github.com/gtyska</a></td>
            </tr>
            <tr>
              <td>Paweł Różański</td>
              <td><a href="https://github.com/RozanskiP">https://github.com/RozanskiP</a></td>
            </tr>
            <tr>
              <td>Sokaina Baouch</td>
              <td><a href="https://github.com/sb575">https://github.com/sb575</a></td>
            </tr>
            <tr>
              <td>Tarik Kahrić</td>
              <td><a href="https://github.com/Crni88">https://github.com/Crni88</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h1 class="title">What is the Tasty API</h1>
    <p>Tasty.co is a food recipe application. Though Tasty was originally started as a
      Facebook page, it quickly rose in popularity. Currently, it has a
      website, Android/iOS applications as well as pages on other social
      media platforms like Youtube and Instagram with millions of
      followers. At its core, Tasty is a food recipe application that
      provides textual and video-based recipes. In addition, it allows
      users to search for recipes by name, ingredients, or tags
      (which are labels that are attached to a recipe to categorize it).
      The Tasty API is an API for Tasty.co. It provides various
      endpoints that provide a list of recipes, details of an individual
      recipe, a list of available tags, and much more!</p>

      <h1 class="title">How does the Tasty API work?</h1>
      <p>
        The Tasty API is a REST API. In simple terms, an application can use a REST API
        to query for data. A REST API exposes HTTP URLs which are also known as REST endpoints.
      </p>
      <p>
        The Tasty API  exposes several endpoints that return information like a list of recipes,
        a list of tags, details about an individual recipe, etc. An application can query an endpoint
        by supplying its URL, the API key, and request parameters (like keyword by which to search a
        recipe, number of recipes to return, etc.). The Tasty API then queries the Tasty.co service and
        returns the requested information.
      </p>

      <br>

  </mat-card>
</div>
