<div class="box">
  <mat-card>
    <div class="signup-title">Sign Up</div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="newUser.name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="newUser.email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide_password ? 'password' : 'text'"
        [(ngModel)]="newUser.password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide_password = !hide_password"
      >
        <mat-icon>{{
          hide_password ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input
        matInput
        [type]="hide_repeat ? 'password' : 'text'"
        [(ngModel)]="secondPassword"
      />
      <button mat-icon-button matSuffix (click)="hide_repeat = !hide_repeat">
        <mat-icon>{{ hide_repeat ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button (click)="signUp()" mat-button>Sign up</button>
  </mat-card>
</div>
