<div class="menu">


  <div class="menu-part">
    <img src="assets/logos/logochef.png" />
    <div>
      <button mat-button routerLink="/">MENU <mat-icon>calendar_month</mat-icon></button>
      <button mat-button routerLink="/recipes">RECIPES <mat-icon>restaurant_menu</mat-icon></button>
      <button mat-button routerLink="/about">ABOUT<mat-icon>info</mat-icon></button>
      <button mat-button routerLink="/shoppinglist">SHOPPING LIST <mat-icon>shopping_cart</mat-icon></button>
    </div>

  </div>

  <div class="menu-part">
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </div>
</div>
