<div class="d-table">
  <img src="/assets/logos/minichef.png" />

  <div class="d-table-cell align-left">
    <button mat-button>MENU <mat-icon>calendar_month</mat-icon></button>
    <button mat-button>RECIPES <mat-icon>restaurant_menu</mat-icon></button>
    <button mat-button>ABOUT <mat-icon>info</mat-icon></button>
    <button mat-button>SHOPPING LIST <mat-icon>shopping_cart</mat-icon></button>
  </div>

  <div class="d-table-cell align-right">
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </div>
</div>
