$green-accent: #788d17;
$green-accent-hover: #4a5710;

.mat-button {
  padding: 0 15px 0 15px;
  border-radius: 30px;
  margin: 5px;
}

img {
  max-height: 185px;
  max-width: 185px;
}

.menu{
  display: flex;
  align-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.menu-part{
  display: flex;
  vertical-align: middle;
  align-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

