$green-accent: #788d17;
$green-accent-hover: #4a5710;

.d-table {
  display: table;
  width: 100%;
  text-transform: lowercase;
}

.d-table-cell {
  display: table-cell;
  vertical-align: middle;

}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.mat-button {
  padding: 0 15px 0 15px;
  border-radius: 30px;
  margin: 5px;
}

img {
  max-height: 185px;
  max-width: 185px;
}

