<div class="box">
  <mat-card >
    <div *ngIf="!isLogged" class="login-form">
      <div class="login-title">Log In</div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="signin.email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="signin.password"
        />
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button (click)="login()" mat-button>Log in</button>
    </div>
    <div *ngIf="isLogged">
      <button (click)="logout()" mat-button>Log out</button>
    </div>
    <div *ngIf="!isLogged">
      <button mat-button routerLink="/signup" class="sign-up-button">
        Sign up
      </button>
    </div>
  </mat-card>
</div>
