@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css);

@media screen and (max-width:767px) {
  .fixedNavBarItem {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .navbar-brand {
    position: absolute;
    width: 67%;
    text-align: center;
    margin-left: 15%;
    top: 6px;
    img {
      max-width: 100px;
      max-height: 100px;

    }
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: space-around;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.mat-button {
  width: 70vw;
  padding: 0 15px 0 15px;
  border-radius: 30px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
}
@media screen and (min-width:768px) {
  .hamburger {
    display: none;
    position: absolute;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .mat-button {
    padding: 0 15px 0 15px;
    border-radius: 30px;
    margin: 5px;
  }
}
$green-accent: #788d17;
$green-accent-hover: #4a5710;



img {
  max-height: 185px;
  max-width: 185px;
}

@media screen and (max-width:934px) and (min-width:768px) {
  .mat-button{
    letter-spacing: 1px;
      font-size: 1.5vw;
  }

  img {
      max-width: 125px;
      max-height: 125px;


  }
}

.menu{
  display: flex;
  align-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.menu-part{
  display: flex;
  vertical-align: middle;
  align-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
}
.navbar {
  box-shadow: none;
}



.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.mb-1{
  margin-bottom:.25rem!important
}
.mr-auto {
  margin-bottom:auto!important;
}

.ml-auto{
  margin-left:auto!important;
}

.nav-item {
  margin-bottom: -1px;
  flex: 1 1 auto;
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}



.navbar-dark .navbar-brand{
  color:#fff;
  &:focus, &:hover {
    color:#fff
  }
}
.collapse:not(.show) {
  display: none;
}

.nav-flex-icons{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
}

.nav-item {
  margin-bottom:-1px;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  text-align:center;
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  text-align:center;
}

