 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Roboto&display=swap');

.search-bar{
  padding: 2%;
  padding-left: 5%;
  width: 55%;
  height: 40px;
  display: inline-flex;
  flex-wrap: wrap;


  input{
    width: 70%;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 0 3px 0 18px;
    border: none;
    outline: none;
    font-size: 11pt;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);

  }

  .search-button{
    width: 40px;
    background: #788D17;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 4px  rgba(0,0,0,0.25);

  .white {
      color: white;
  }

  }

  .search-button:hover{
    background-color: #4a5710;
    cursor: pointer;
  }


}
