<div *ngIf="text.length>0" id="text" class="mat-card">
  Menu
  <div>
    {{ text }}
  </div>
</div>

<div class="menu-list">
 <!--  <button mat-icon-button>
  <mat-icon class="arrow-button">keyboard_arrow_left</mat-icon>
</button> -->
  <div *ngFor="let i of [0, 1, 2, 3, 4]">
    <app-menu-card *ngIf="listOfRecipes.length>0" [index]="i" [listOfRecipes]="listOfRecipes"></app-menu-card>
  </div>
  <!-- <button mat-icon-button>
  <mat-icon class="arrow-button">keyboard_arrow_right</mat-icon>
</button> -->
</div>


