ul{
  text-align: center;
}

.no-results{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
	align-content: center;
}

.mario{
  justify-content: center;
  width: 22rem;
}
