$green-accent: #788d17;
$green-accent-hover: #4a5710;

.demo-inline-calendar-card {
  width: 250px;
  margin-bottom: 10px;
  background-color: rgb(245, 245, 245);
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-position{
  display: flex;

	justify-content: flex-end;

}

.remove-button{
  background-color: rgb(219, 0, 0);
}

.cancel-button{
  background-color: gray;
}

.mat-button:disabled {
  background-color: rgb(202, 200, 200);
  color: black;
}

.dialog-header{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
  margin-bottom: 15px;
}

.mat-dialog-title{
  margin: 0px;
}

.form-meal{
  width: 252px;
}
