$green-accent: #788d17;

.main {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.access-alert{
  padding-top: 200px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.menu-content {
  max-height: 40em;
  overflow: auto;
  padding-top: 10px;
}

.mat-card {
  display: inline-block;
  text-align: center;
  background: white;
  padding: 15px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-width: fit-content;
}


li {
  list-style-type: none;
  text-align: left;
  margin-right: 50px;
  margin-top: 10px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $green-accent;
}

::ng-deep .mat-checkbox  {
  display: inline-block;
  min-width: 400px;
}


.add-bar{
  padding-top: 2%;
  width: 100%;
  height: 62px;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;


  input{
    width: 70%;
    justify-content: center;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 0 3px 0 18px;
    border: none;
    outline: none;
    font-size: 11pt;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);

  }

  .add-button{
    width: 40px;
    background: #788d17;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 4px  rgba(0,0,0,0.25);

  .white {
      color: white;
  }

  }

  .add-button:hover{
   background-color: #4a5710;
   cursor: pointer;
 }


 }
