<div class="main">

<!--   <div class="add-bar" *ngIf="text !=='Log in to access shopping list'">
    <input type="text" placeholder="New Item" #search>
    <div class="add-button" (click)="handleAddItem()">
      <mat-icon class="white">add</mat-icon>
    </div>
  </div> -->

  <div class="access-alert">
    <div *ngIf="text.length>0" id="text" class="mat-card ">
      Shopping List
      <div>
        {{ text }}
      </div>
    </div>
    </div>

  <div class="menu-content" *ngIf="text.length==0">
    <div class="mat-card">
      <ul>
        <li *ngFor="let item of listOfIngredient">
          <mat-checkbox
            [(ngModel)]="item.isChecked"
            (ngModelChange)="
              check(item.id, item.ingredientName, item.isChecked)
            "
            >{{ item.ingredientName }}</mat-checkbox
          >
          <mat-icon (click)="delete(item.id)" class="white">delete</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
