<div class="main">
  <div class="add-item">
    <input [(ngModel)]="newItem" type="text" placeholder="New Item" />
    <div class="add-item-button">
      <mat-icon (click)="handleAddItem()" class="white">add</mat-icon>
    </div>
  </div>
  <div class="menu-content">
    <div class="mat-card">
      SHOPPING LIST
      <div>
        {{ text }}
      </div>
      <ul>
        <li *ngFor="let item of listOfIngredient">
          <mat-checkbox
            [(ngModel)]="item.isChecked"
            (ngModelChange)="
              check(item.id, item.ingredientName, item.isChecked)
            "
            >{{ item.ingredientName }}</mat-checkbox
          >
          <mat-icon (click)="delete(item.id)" class="white">delete</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
